.p-select {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    user-select: none;
    background: var(--p-select-background);
    border: 1px solid var(--p-select-border-color);
    transition: background var(--p-select-transition-duration), color var(--p-select-transition-duration), border-color var(--p-select-transition-duration), outline-color var(--p-select-transition-duration), box-shadow var(--p-select-transition-duration);
    border-radius: var(--p-select-border-radius);
    outline-color: transparent;
    box-shadow: var(--p-select-shadow);
}

.p-select.ng-invalid.ng-dirty {
    border-color: var(--p-select-invalid-border-color);
}

.p-select:not(.p-disabled):hover {
    border-color: var(--p-select-hover-border-color);
}

.p-select:not(.p-disabled).p-focus {
    border-color: var(--p-select-focus-border-color);
    box-shadow: var(--p-select-focus-ring-shadow);
    outline: var(--p-select-focus-ring-width) var(--p-select-focus-ring-style) var(--p-select-focus-ring-color);
    outline-offset: var(--p-select-focus-ring-offset);
}

.p-select.p-variant-filled {
    background: var(--p-select-filled-background);
}

.p-select.p-variant-filled:not(.p-disabled):hover {
    background: var(--p-select-filled-hover-background);
}

.p-select.p-variant-filled.p-focus {
    background: var(--p-select-filled-focus-background);
}

.p-select.p-disabled {
    opacity: 1;
    background: var(--p-select-disabled-background);
}

.p-select-clear-icon {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    color: var(--p-select-clear-icon-color);
    inset-inline-end: var(--p-select-dropdown-width);
}

.p-select-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: transparent;
    color: var(--p-select-dropdown-color);
    width: var(--p-select-dropdown-width);
    border-start-end-radius: var(--p-select-border-radius);
    border-end-end-radius: var(--p-select-border-radius);
}

.p-select-label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    width: 1%;
    padding: var(--p-select-padding-y) var(--p-select-padding-x);
    text-overflow: ellipsis;
    cursor: pointer;
    color: var(--p-select-color);
    background: transparent;
    border: 0 none;
    outline: 0 none;
}

.p-select-label.p-placeholder {
    color: var(--p-select-placeholder-color);
}

.p-select.ng-invalid.ng-dirty .p-select-label.p-placeholder {
    color: var(--p-select-invalid-placeholder-color);
}

.p-select:has(.p-select-clear-icon) .p-select-label {
    padding-inline-end: calc(1rem + var(--p-select-padding-x));
}

.p-select.p-disabled .p-select-label {
    color: var(--p-select-disabled-color);
}

.p-select-label-empty {
    overflow: hidden;
    opacity: 0;
}

input.p-select-label {
    cursor: default;
}

.p-select .p-select-overlay {
    min-width: 100%;
}

.p-select-overlay {
    background: var(--p-select-overlay-background);
    color: var(--p-select-overlay-color);
    border: 1px solid var(--p-select-overlay-border-color);
    border-radius: var(--p-select-overlay-border-radius);
    box-shadow: var(--p-select-overlay-shadow);
}

.p-select-header {
    padding: var(--p-select-list-header-padding);
}

.p-select-filter {
    width: 100%;
}

.p-select-list-container {
    overflow: auto;
}

.p-select-option-group {
    cursor: auto;
    margin: 0;
    padding: var(--p-select-option-group-padding);
    background: var(--p-select-option-group-background);
    color: var(--p-select-option-group-color);
    font-weight: var(--p-select-option-group-font-weight);
}

.p-select-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding: var(--p-select-list-padding);
    gap: var(--p-select-list-gap);
    display: flex;
    flex-direction: column;
}

.p-select-option {
    cursor: pointer;
    font-weight: normal;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: var(--p-select-option-padding);
    border: 0 none;
    color: var(--p-select-option-color);
    background: transparent;
    transition: background var(--p-select-transition-duration), color var(--p-select-transition-duration), border-color var(--p-select-transition-duration), box-shadow var(--p-select-transition-duration), outline-color var(--p-select-transition-duration);
    border-radius: var(--p-select-option-border-radius);
}

.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
    background: var(--p-select-option-focus-background);
    color: var(--p-select-option-focus-color);
}

.p-select-option.p-select-option-selected {
    background: var(--p-select-option-selected-background);
    color: var(--p-select-option-selected-color);
}

.p-select-option.p-select-option-selected.p-focus {
    background: var(--p-select-option-selected-focus-background);
    color: var(--p-select-option-selected-focus-color);
}

.p-select-option-check-icon {
    position: relative;
    margin-inline-start: var(--p-select-checkmark-gutter-start);
    margin-inline-end: var(--p-select-checkmark-gutter-end);
    color: var(--p-select-checkmark-color);
}

.p-select-empty-message {
    padding: var(--p-select-empty-message-padding);
}

.p-select-fluid {
    display: flex;
}

.p-select-sm .p-select-label {
    font-size: var(--p-select-sm-font-size);
    padding-block: var(--p-select-sm-padding-y);
    padding-inline: var(--p-select-sm-padding-x);
}

.p-select-sm .p-select-dropdown .p-icon {
    font-size: var(--p-select-sm-font-size);
    width: var(--p-select-sm-font-size);
    height: var(--p-select-sm-font-size);
}

.p-select-lg .p-select-label {
    font-size: var(--p-select-lg-font-size);
    padding-block: var(--p-select-lg-padding-y);
    padding-inline: var(--p-select-lg-padding-x);
}

.p-select-lg .p-select-dropdown .p-icon {
    font-size: var(--p-select-lg-font-size);
    width: var(--p-select-lg-font-size);
    height: var(--p-select-lg-font-size);
}