
<button [routerLink]="[path.users]">userList</button>
<p>gitn8n<p></p>
<!-- <app-data-table
  [data]="dataSource"
  [columns]="displayedColumns"
  [paginator]="false"
  [rows]="10"
  (rowSelect)="handleRowSelect($event)"
  (rowUnselect)="handleRowUnselect($event)"
>

</app-data-table>
<app-server-pagination
style="background-color: var(--surface-50)"
[paginationParams]="paginationConfig"
(pageChanged)="onPageChanged($event)"
></app-server-pagination> -->

<!-- <app-select-box 
  [data]="options" 
  [mode]="'multi'" 
  (selectionChange)="onSelectionChange($event)">
</app-select-box> -->