

<!-- <div class="server-pagination">
    <div class="items-per-page">
      <label class="m-1">Items per page: </label>
      <p-dropdown
        [options]="paginationParams.itemsPerPageOptions"
        optionLabel="label"
        optionValue="value"
        [(ngModel)]="paginationParams.itemsPerPage"
        (ngModelChange)="onItemsPerPageChange(paginationParams.itemsPerPage)"></p-dropdown>
    </div>
    <p-paginator
      (onPageChange)="onPageChanged($event)"
      [first]="paginationParams.first"
      [rows]="paginationParams.itemsPerPage * 3"
      [totalRecords]="paginationParams.totalElements"
      [showFirstLastIcon]="true"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} of {totalRecords}"></p-paginator>
  </div>
   -->
   <p-paginator
   (onPageChange)="onPageChanged($event)"
   [first]="paginationParams.first"
    [rows]="paginationParams.itemsPerPage * 3"
   [totalRecords]="120"
   [showCurrentPageReport]="true"
   [showPageLinks]="false"
   [showJumpToPageDropdown]="false"
   [rowsPerPageOptions]="[5, 10, 15]" 
   currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" />